build/
*.pyc
__pycache__/
.DS_Store
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
.vs/
*.pro.user
*.qmlc
*.juce
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
build-*/
Binaries/
Builds/
DerivedData/
Intermediate/
Saved/
.DerivedData/
.DS_Store

# API Keys and secrets
*api_key*
*apikey*
*secret*
config.ini
.env
config.h

